.top-header {
  padding: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  border-bottom: 4px solid #ff8d1b;
  text-transform: uppercase;
  height: 100px;

  .logo {
    flex-basis: 150px;
  }
  .title {
    // border: 1px solid black;
    font-family: "Baloo 2", cursive;
    font-size: 17px;
    flex-grow: 2;
  }

  .trial {
    .btn-start {
      border: none;
      padding: 5px 20px 5px 20px;
      border-radius: 5px;
      background: #000000;
      color: #fff;
      font-size: 20px;
      font-family: "Baloo 2", cursive;
      outline: none;
    }
  }
}
